.actionOption {
  display: flex;
  padding: 0.35rem 0 !important;
  justify-content: space-between;
  padding-left: 1.5rem !important;
}
.actionOption:hover {
  background-color: var(--clr-ligh-grey);
}
.actionOption div {
  display: flex;
}
.actionOption h4 {
  color: var(--clr-darker-grey);
  font-weight: 600;
  margin-left: 10px;
  font-size: clamp(13px, 2vw, 18px);
}
.rightArrow {
  margin-right: 20px;
}
