.recommendedProducts {
  grid-column: span 2;
}
.recommendedProducts__container {
  display: grid;
  margin-left: -1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 140px);
  gap: 0.5rem;
}

@media screen and (min-width: 900px) {
  .orderDetails {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1rem;
  }
}
